html {
  font-size: 62.5%;
  font-family: $font-primary;
}

h1 {
  font-size: 7em;
  font-family: $font-secondary
}

h2 {
  font-size: 6rem;
  font-family: $font-secondary
}

h3 {
  font-size: 3.5rem;
  font-family: $font-tertiary;
  font-weight: 300;
}

p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-family: $font-tertiary;
}
